---
import BaseLayout from '../layouts/BaseLayout.astro'
import ring from '../content/ring.json'
<<<<<<< HEAD

interface IProject {
	name: string
	description: string
	repo: string
	languages?: Array<string>
}

const projects: Array<IProject> = [...ring.projects]
=======
import generatedRing from '../content/ring.generated.json'
import CardLink from '../components/CardLink.astro'

// TODO: refactor dedupe logic to separate file?
const projects = [...ring.projects]
for (const project of generatedRing.projects as typeof ring.projects) {
	const index = projects.findIndex((x) => x.name === project.name)
	if (index === -1) {
		projects.push(project)
	}
}
>>>>>>> 03eb1ed189c3bf71c5571683f09cdb1518f0a29c
---

<BaseLayout>
	<section class="ui-container mt-6 flex flex-col items-center justify-center gap-12 md:mt-8">
		<h1 class="text-center text-3xl font-medium">👾 Project List</h1>
		<div class="main-grid">
			{
				projects.map(({ name, repo, description, languages }) => {
					return (
<<<<<<< HEAD
						<a class="project-card group" href={project.repo}>
							<div class="grid gap-1">
								<h3 class="text-2xl font-medium transition-all">{project.name}</h3>
								<p class="text-base">{project.description}</p>
								{project.languages && <p>{project.languages?.join(', ')}</p>}
							</div>
						</a>
=======
						<CardLink title={name} url={repo} description={description} languages={languages} />
>>>>>>> 03eb1ed189c3bf71c5571683f09cdb1518f0a29c
					)
				})
			}
		</div>
		<a href="/add" class="black-btn">How to add projects?</a>
	</section>
</BaseLayout>
